/* Debug */

.debug * {
    border: 1px solid black;
}


/* Init */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}


/* Default Elements */

:root {
    /* Color Cube */
    --white: #fff;
    --tobaccoBrown: #6a5243;
    --codGray: #0e0e0d;
    --manatee: #929295;
    --atoll: #0a5e6c;
    --chalky: #f0caa1;
    --rawSienna: #d68843;
    --perfume: #bda2f3;
    --daisyBush: #5b2ca2;
    --japaneseLaurel: #287a00;
    /* Median Cut */
    --outerSpace: #282d2c;
    --pearlBush: #e9dedc;
    --millBrook: #694a3a;
    --leather: #9f7651;
    --mamba: #878589;
    /* Material Design */
    --driftWood: #b77c49;
    --sandrift: #b2927b;
    --atoll_darkVibrant: #086875;
    --limedSpruce: #344747;
    --tan: #d6b28d;
    /* Transition Timings */
    --main-trans: 200ms ease-in-out;
}

section {
    width: 100%;
}

.main_wrapper {
    width: 88%;
    margin: 0 auto;
    padding: 120px 0;
}


/* btn */

button.white {
    font-family: 'Open Sans', serif;
    color: var(--daisyBush);
    font-size: 12px;
    font-weight: 600;
    background-color: var(--white);
    border: none;
    border-radius: 3px;
    margin: 16px 0;
    padding: 7px 35px;
    transition: var(--main-trans);
    outline: none;
}

button.white:hover {
    background-color: var(--daisyBush);
    color: var(--white);
    cursor: pointer;
}

button.violet {
    width: 30%;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--daisyBush);
    border: none;
    border-radius: 6px;
    transition: var(--main-trans);
    outline: none;
}

button.violet:hover {
    color: var(--daisyBush);
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
}


/* Modular Classes */

.text_white {
    color: white !important;
}

.text_align_center {
    text-align: center;
}

.bg_lightblue {
    background-color: #f2f9fb;
}

.bg_sand {
    background-color: #f9f3e5;
}

.margin_top_20 {
    margin-top: 20px !important;
}

.margin_top_60 {
    margin-top: 60px !important;
}


/* Typography */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--daisyBush);
    margin: 16px 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--daisyBush);
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--daisyBush);
}

h4 {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--manatee);
}

h5 {
    font-family: 'Open Sans', serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--manatee);
}

p.subtitle {
    color: var(--manatee);
    font: 12px;
    line-height: 30px;
}


/* HTML & BODY */

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

#avadaBakery {
    width: 100%;
    height: 100vh;
}


/* HEADER */

header {
    width: 100%;
    height: 700px;
    background-image: url(../img/bakery-header-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_titles {
    height: 100%;
    width: 550px;
    padding: 220px 30px;
}


/* TOPBAR FIXED */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: 0 30px;
    color: var(--daisyBush);
    background-color: transparent;
    transition: var(--main-trans);
    z-index: 999;
}

.nav_scrollOverHeader {
    background-color: white;
    box-shadow: 2px 0 10px var(--pearlBush);
}

.logo {
    flex: 0 0 auto;
    padding: 5px 0 10px;
    height: inherit;
}

.logo img {
    height: 90%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
    height: inherit;
}

.menu li {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    border: 1px solid var(--daisyBush);
    opacity: 0;
    transition: var(--main-trans);
}

.menu li:hover:after {
    opacity: 1;
}

.menu .fa-shopping-cart {
    font-size: 16px;
}

.menu .fa-shopping-cart:hover {
    cursor: pointer;
}


/* FIXED BUTTONS */

.fixed_buttons_demo {
    position: fixed;
    top: 200px;
    right: 12px;
    width: 70px;
    height: 70px;
    font-size: 26px;
    text-align: center;
    color: var(--limedSpruce);
    border-radius: 6px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 30px 1px var(--manatee);
    z-index: 999;
}

.fixed_buttons_price {
    position: fixed;
    top: 280px;
    right: 12px;
    width: 70px;
    height: 70px;
    font-size: 26px;
    text-align: center;
    color: var(--limedSpruce);
    border-radius: 6px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 30px 1px var(--manatee);
}

p.fixed_buttons_pricing {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--japaneseLaurel);
}

p.fixed_buttons_title {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    font-weight: 600;
}

.fixed_buttons_toTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 16px;
    right: 12px;
    width: 46px;
    height: 46px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: var(--outerSpace);
    border-radius: 6px;
    opacity: 0;
    transition: var(--main-trans);
}

.fixed_buttons_toTop:hover {
    cursor: pointer;
}

.toTop_scrollOverHeader {
    opacity: 1;
}


/* SECTION CORPORATE */

.corporate_container {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 40px;
}

.corporate_item {
    position: relative;
    width: 50%;
    min-width: 500px;
    overflow: hidden;
}

.corporate_container .corporate_item:first-child {
    margin-right: 10px;
}

.corporate_container .corporate_item:last-child {
    margin-left: 10px;
}

.corporate_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 200ms ease-in-out;
}

.corporate_item img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.corporate_item img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.corporate_item_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #000;
    transition: 200ms ease-in-out;
    z-index: 3;
}

.corporate_item:hover img:first-child {
    opacity: 0;
}

.corporate_item:hover img:last-child {
    opacity: 1;
}

.corporate_item:hover .corporate_item_info {
    opacity: 0.8;
}


/* SECTION LOCATIONS */

.section_titles {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.locations_cards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 40px;
}

.locations_item {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 50%;
    min-width: 500px;
    background-color: gray;
    overflow: hidden;
}

.locations_item img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.locations_info {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    padding: 30px;
}

.locations_info_content {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.locations_info_content * {
    width: calc(100% / 3);
}

.locations_info_content div button {
    width: 60%;
}


/* SECTION WALL CARD */

section.wall_card {
    background-image: url(../img/bakery-process-4.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
}

.wall_card_titles {
    width: 800px;
    margin-left: 100px;
    padding: 70px 0;
}


/* FOOTER */

footer {
    width: 100%;
    background-color: white;
}


/* FOOTER TOP */

.top_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px 100px;
}


/* FOOTER LEFT */

.footer_left {
    width: 70%;
}

.footer_logo {
    margin-bottom: 40px;
}

.footer_logo img {
    width: 140px;
}

.footer_menu {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.footer_menu li {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 500;
    color: var(--daisyBush);
    text-transform: capitalize;
}

.footer_menu ul {
    display: flex;
    align-items: center;
}

.footer_menu li:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    border: 1px solid var(--daisyBush);
    opacity: 0;
    transition: var(--main-trans);
}

.footer_menu li:hover:after {
    opacity: 1;
}

.footer_menu .fa-shopping-cart {
    font-size: 14px;
    color: var(--daisyBush);
}

.footer_menu .fa-shopping-cart:hover {
    cursor: pointer;
}

p.cart_item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 22px;
    height: 22px;
    margin-left: 15px;
    border-radius: 50%;
    color: var(--daisyBush);
    background-color: var(--perfume);
}


/* FOOTER RIGHT */

.footer_right {
    width: 30%;
    text-align: right;
}

.email {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.email input {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--outerSpace);
    width: 69%;
    padding: 10px 15px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
}


/* FOOTER BOTTOM */

.bottom_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px 100px;
}

.copyright {
    font-size: 10px;
    color: var(--outerSpace);
}

.social {
    color: var(--daisyBush)
}

.social i {
    margin-left: 20px;
}