/* Debug */

.debug * {
    border: 1px solid black;
}


/* Init */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}


/* Default Elements */

:root {
    /* Color Cube */
    --white: #fff;
    --tobaccoBrown: #6a5243;
    --codGray: #0e0e0d;
    --manatee: #929295;
    --atoll: #0a5e6c;
    --chalky: #f0caa1;
    --rawSienna: #d68843;
    --perfume: #bda2f3;
    --daisyBush: #5b2ca2;
    --japaneseLaurel: #287a00;
    /* Median Cut */
    --outerSpace: #282d2c;
    --pearlBush: #e9dedc;
    --millBrook: #694a3a;
    --leather: #9f7651;
    --mamba: #878589;
    /* Material Design */
    --driftWood: #b77c49;
    --sandrift: #b2927b;
    --atoll_darkVibrant: #086875;
    --limedSpruce: #344747;
    --tan: #d6b28d;
    /* Transition Timings */
    --main-trans: 200ms ease-in-out;
}

button.violet {
    font-family: 'Open Sans', serif;
    color: var(--daisyBush);
    font-size: 12px;
    font-weight: 600;
    background-color: var(--white);
    border: none;
    border-radius: 3px;
    margin: 16px 0;
    padding: 7px 35px;
    transition: var(--main-trans);
    outline: none;
}

button.violet:hover {
    background-color: var(--daisyBush);
    color: var(--white);
    cursor: pointer;
}


/* Typography */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--daisyBush);
    margin: 16px 0;
}

h2 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Playfair Display', serif;
}

h4 {
    color: var(--manatee);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p.subtitle {
    color: var(--manatee);
    font: 12px;
    line-height: 30px;
}


/* HTML & BODY */

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

#avadaBakery {
    width: 100%;
    height: 100vh;
}


/* HEADER */

header {
    width: 100%;
    height: 700px;
    background-image: url(../img/bakery-header-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .titles {
    height: 100%;
    width: 550px;
    padding: 220px 30px;
}


/* TOPBAR FIXED */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: 0 30px 0 20px;
    color: var(--daisyBush);
    background-color: transparent;
    transition: var(--main-trans);
}

.nav_scrollOverHeader {
    background-color: white;
    box-shadow: 2px 0 10px var(--pearlBush);
}

.logo {
    flex: 0 0 auto;
    padding: 5px 0 10px;
    height: inherit;
}

.logo img {
    height: 90%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
    height: inherit;
}

.menu li {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    border: 1px solid var(--daisyBush);
    opacity: 0;
    transition: var(--main-trans);
}

.menu li:hover:after {
    opacity: 1;
}

.menu .fa-shopping-cart {
    font-size: 16p;
}

.menu .fa-shopping-cart:hover {
    cursor: pointer;
}


/* FIXED BUTTONS */

.fixed_buttons_demo {
    position: fixed;
    top: 200px;
    right: 16px;
    width: 70px;
    height: 70px;
    font-size: 26px;
    text-align: center;
    color: var(--limedSpruce);
    border-radius: 6px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 30px 1px var(--manatee);
}

.fixed_buttons_price {
    position: fixed;
    top: 280px;
    right: 16px;
    width: 70px;
    height: 70px;
    font-size: 26px;
    text-align: center;
    color: var(--limedSpruce);
    border-radius: 6px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 30px 1px var(--manatee);
}

p.fixed_buttons_pricing {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--japaneseLaurel);
}

p.fixed_buttons_title {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    font-weight: 600;
}

.fixed_buttons_toTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 46px;
    height: 46px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: var(--outerSpace);
    border-radius: 6px;
}

.fixed_buttons_toTop:hover {
    cursor: pointer;
}

section {
    width: 100%;
    height: 1000px;
}