/* 
avadaBakery
Table of Content

1.1 Debug
    1.2 Init
    
2.1 Default Elements
    2.2 Btn
    2.3 Modular Classes
    2.4 Typography

3.1 HTML & BODY
    3.2 Header
    3.3 TopBar Fixed
    3.4 Fixed Buttons
    3.5 Section Products
    3.6 Section Corporate
    3.7 Section Locations
    3.8 Section Get In Touch / Social
    3.9 Section Mid Card
    3.10 Section Wall Card
    3.11 Footer
*/


/* 1.1 Debug */

.debug * {
    border: 1px solid black;
}


/* 1.2 Init */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}


/* 2.1 Default Elements */

:root {
    /* Color Cube */
    --white: #fff;
    --tobaccoBrown: #6a5243;
    --codGray: #0e0e0d;
    --manatee: #929295;
    --atoll: #0a5e6c;
    --chalky: #f0caa1;
    --rawSienna: #d68843;
    --perfume: #bda2f3;
    --daisyBush: #5b2ca2;
    --japaneseLaurel: #287a00;
    /* Median Cut */
    --outerSpace: #282d2c;
    --pearlBush: #e9dedc;
    --millBrook: #694a3a;
    --leather: #9f7651;
    --mamba: #878589;
    /* Material Design */
    --driftWood: #b77c49;
    --sandrift: #b2927b;
    --atoll_darkVibrant: #086875;
    --limedSpruce: #344747;
    --tan: #d6b28d;
    /* Transition Timings */
    --main-trans: 200ms ease-in-out;
    --long-trans: 700ms ease-in-out;
}

section {
    width: 100%;
}

.main_wrapper {
    width: 88%;
    margin: 0 auto;
    padding: 120px 0 30px;
}


/* 2.2 Btn */

button.white {
    font-family: 'Open Sans', serif;
    color: var(--daisyBush);
    font-size: 12px;
    font-weight: 600;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 7px 35px;
    transition: var(--main-trans);
}

button.violet {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--daisyBush);
    border: 1px solid transparent;
    outline: none;
    border-radius: 6px;
    padding: 7px 35px;
    transition: var(--main-trans);
}

button.white:hover {
    background-color: var(--daisyBush);
    color: var(--white);
    cursor: pointer;
}

button.violet:hover {
    background-color: white;
    color: var(--daisyBush);
    border: 1px solid lightgray;
    cursor: pointer;
}


/* 2.3 Modular Classes */

.text_white {
    color: white !important;
}

.text_align_center {
    text-align: center !important;
}

.pricing {
    font-size: 40px !important;
    font-weight: 200 !important;
}

.bg_lightblue {
    background-color: #f2f9fb !important;
}

.bg_sand {
    background-color: #f9f3e5 !important;
}

.margin_top_20 {
    margin-top: 20px !important;
}

.margin_top_40 {
    margin-top: 40px !important;
}

.margin_top_60 {
    margin-top: 60px !important;
}


/* 2.4 Typography */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--daisyBush);
    margin: 16px 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--daisyBush);
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--daisyBush);
}

h4 {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--manatee);
}

h5 {
    font-family: 'Open Sans', serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--manatee);
}

p.subtitle {
    color: var(--manatee);
    font: 12px;
    line-height: 30px;
}

blockquote {
    margin: 30px 0;
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 700;
    color: var(--daisyBush);
}

blockquote::before {
    content: '"';
}

blockquote::after {
    content: '"';
}


/* 3.1 HTML & BODY */

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

#avadaBakery {
    width: 100%;
    min-width: 1170px;
    height: 100vh;
}


/* 3.2 Header */

header {
    width: 100%;
    height: 700px;
    background-image: url(../img/bakery-header-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_titles {
    height: 100%;
    width: 550px;
    padding: 220px 30px;
}


/* 3.3 Topbar Fixed */

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    padding: 0 30px;
    color: var(--daisyBush);
    background-color: transparent;
    transition: var(--main-trans);
    z-index: 999;
}

.nav_scrollOverHeader {
    background-color: white;
    box-shadow: 2px 0 10px var(--pearlBush);
}

.logo {
    flex: 0 0 auto;
    height: inherit;
    padding: 5px 0 10px;
}

.logo img {
    height: 90%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
    height: inherit;
}

.menu li {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 40px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    content: '';
    border: 1px solid var(--daisyBush);
    opacity: 0;
    transition: var(--main-trans);
}

.menu li:hover:after {
    opacity: 1;
}

.menu .fa-shopping-cart {
    font-size: 16px;
}

.menu .fa-shopping-cart:hover {
    cursor: pointer;
}


/* 3.4 Fixed Buttons */

.fixed_buttons_demo {
    position: fixed;
    top: 200px;
    right: 12px;
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 26px;
    text-align: center;
    color: var(--limedSpruce);
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 30px 1px var(--manatee);
    z-index: 999;
}

.fixed_buttons_price {
    position: fixed;
    top: 280px;
    right: 12px;
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 26px;
    text-align: center;
    color: var(--limedSpruce);
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 30px 1px var(--manatee);
    z-index: 999;
}

p.fixed_buttons_pricing {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--japaneseLaurel);
}

p.fixed_buttons_title {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    font-weight: 600;
}

.fixed_buttons_toTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 16px;
    right: 12px;
    width: 46px;
    height: 46px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: var(--perfume);
    border-radius: 6px;
    opacity: 0;
    transition: var(--main-trans);
    z-index: 999;
}

.fixed_buttons_toTop:hover {
    cursor: pointer;
    background-color: var(--daisyBush);
}

.toTop_scrollOverHeader {
    opacity: 0.8;
}


/* 3.5 Section Products */

.products_container_big {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 550px;
}

.products_container_small {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 400px;
}

.products_titles_small {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    flex: 0 1 350px;
    height: 100%;
    padding: 30px;
}

.products_titles_big {
    flex: 0 1 550px;
    height: 100%;
    padding: 30px;
}

.products_showreel_small,
.products_showreel_big {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    flex: 1 2;
    height: 100%;
}

.products_showreel_small>.products_arrow_left,
.products_showreel_big>.products_arrow_left {
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100px;
    font-size: 20px;
    color: white;
    background-color: var(--perfume);
    transition: var(--main-trans);
    opacity: 0.8;
    z-index: 3;
}

.products_showreel_small>.products_arrow_right,
.products_showreel_big>.products_arrow_right {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100px;
    font-size: 20px;
    color: white;
    background-color: var(--perfume);
    transition: var(--main-trans);
    opacity: 0.8;
    z-index: 3;
}

.products_arrow_left:hover,
.products_arrow_right:hover {
    cursor: pointer;
    background-color: var(--daisyBush);
}

.products_showreel_small>.products_item_big {
    position: relative;
    width: 49%;
    height: 100%;
}

.products_showreel_big>.products_item_big {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
}

.products_item_big:hover {
    cursor: pointer;
}

.products_item_big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products_item_info {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    opacity: 0;
    z-index: 2;
    transition: var(--long-trans);
}

.products_item_info * {
    z-index: 2;
}

.products_item_big:hover .products_item_info {
    opacity: 1;
}

.products_item_big::after {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: var(--long-trans);
}

.products_item_big:hover::after {
    opacity: 0.6;
}


/* 3.6 Section Corporate */

.corporate_container {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 40px;
}

.corporate_item {
    position: relative;
    width: 50%;
    min-width: 500px;
    overflow: hidden;
}

.corporate_container .corporate_item:first-child {
    margin-right: 10px;
}

.corporate_container .corporate_item:last-child {
    margin-left: 10px;
}

.corporate_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--main-trans);
}

.corporate_item img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.corporate_item img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.corporate_item_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: var(--main-trans);
    z-index: 3;
}

.corporate_item:hover::after {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.corporate_item:hover img:first-child {
    opacity: 0;
}

.corporate_item:hover img:last-child {
    opacity: 1;
}

.corporate_item:hover .corporate_item_info {
    opacity: 1;
}


/* 3.7 Section Locations */

.section_titles {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.locations_cards {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 40px;
}

.locations_item {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 50%;
    min-width: 500px;
    background-color: gray;
    overflow: hidden;
}

.locations_item_image {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.locations_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--long-trans);
}

.locations_item:hover img {
    cursor: pointer;
    transform: scale(1.2);
}

.locations_info {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    padding: 30px;
}

.locations_info_content {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.locations_info_content * {
    width: calc(100% / 3);
}

.locations_info_content div button {
    width: 60%;
    padding-left: 3px;
    padding-right: 3px;
}


/* 3.8 Section Get In Touch / Social */

.getInTouch_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 400px;
}

.getInTouch_row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform var(--long-trans);
}

.getInTouch_col1 {
    position: relative;
    flex-basis: calc(97% / 4);
    height: 97%;
    overflow: hidden;
}

.getInTouch_col1:hover img {
    transform: scale(1.2);
}

.getInTouch_col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: calc(99% / 2);
    height: 97%;
    background-color: #f7f1f3;
}


/* 3.9 Section Mid Card */

.mid_card {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 20px 0;
}

.mid_card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.7) 90%);
    z-index: 1;
}

.mid_card_colored {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    margin: 20px 0;
    padding: 30px;
    background-color: #f7f1f3;
}

.mid_card_row {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
}

.mid_card_item {
    width: 50%;
}

.mid_card_row .mid_card_item:first-child {
    margin-right: 10px;
}

.mid_card_row .mid_card_item:last-child {
    margin-left: 10px;
}

.mid_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mid_card_title {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 500px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    z-index: 2;
}

.mid_card_number {
    position: absolute;
    top: 50px;
    right: 50px;
    font-family: 'Open Sans', serif;
    font-size: 70px;
    font-weight: 200;
    color: white;
    z-index: 2;
}

.mid_card_info_left {
    position: absolute;
    bottom: 70px;
    left: 50px;
    width: 450px;
    z-index: 2;
}

.mid_card_info_left p {
    margin-top: 26px;
}

.mid_card_info_right {
    position: absolute;
    bottom: 70px;
    right: 50px;
    width: 450px;
    z-index: 2;
}

.mid_card_info_right p {
    margin-top: 26px;
}


/* 3.10 Section Wall Card */

#wall_card {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    background-image: url(../img/bakery-process-4.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.wall_card_titles {
    width: 800px;
    margin-left: 100px;
    padding: 70px 0;
}


/* 3.11 Footer */

footer {
    width: 100%;
    background-color: white;
}


/* Footer Top */

.top_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px 100px;
}


/* Footer Top Left */

.footer_left {
    width: 70%;
}

.footer_logo {
    margin-bottom: 40px;
}

.footer_logo img {
    width: 140px;
}

.footer_menu {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.footer_menu li {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 500;
    color: var(--daisyBush);
    text-transform: capitalize;
}

.footer_menu ul {
    display: flex;
    align-items: center;
}

.footer_menu li:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    border: 1px solid var(--daisyBush);
    opacity: 0;
    transition: var(--main-trans);
}

.footer_menu li:hover:after {
    opacity: 1;
}

.footer_menu .fa-shopping-cart {
    font-size: 14px;
    color: var(--daisyBush);
}

.footer_menu .fa-shopping-cart:hover {
    cursor: pointer;
}

p.cart_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-left: 15px;
    border-radius: 50%;
    font-size: 12px;
    color: var(--daisyBush);
    background-color: var(--perfume);
}


/* Footer Top Right */

.footer_right {
    width: 30%;
    text-align: right;
}

.email {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.email input {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--outerSpace);
    flex: 1 1;
    margin-right: 2px;
    padding: 10px 15px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
}


/* Footer Bottom */

.bottom_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px 100px;
}

.copyright {
    font-size: 10px;
    color: var(--outerSpace);
}

.social {
    color: var(--daisyBush)
}

.social i {
    margin-left: 20px;
}